@import "header/header.scss";
@import "slider/slider";
@import "footer/footer";
@import "about/about";
@import "portfolio/portfolio";
@import "try/try";
@import "modal/modal";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body {
  min-width: 445px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.wrap {

}

@media only screen and (max-width: 900px) {
  .container {
    width: 96%;
  }
}