@import url(https://fonts.googleapis.com/css?family=Montserrat);@import url(https://fonts.googleapis.com/css?family=Kalam);@import url(https://fonts.googleapis.com/css?family=Open+Sans);.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 60px;
  position: fixed;
  z-index: 100;
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-menu {
  min-width: 320px;
  width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-menu .navbar-item {
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar .navbar-menu .telegram-link {
  text-decoration: none;
  color: #ddd;
}

.navbar .navbar-item-logo {
  cursor: pointer;
  flex: 0 0 36px;
  height: 36px;
}

@media only screen and (max-width: 900px) {
  .navbar {
    padding: 0 5px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.footer .contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.footer .contacts .link {
  display: inline-block;
  vertical-align: bottom;
  width: 32px;
  height: 32px;
  margin: 10px 20px;
  padding: 0;
  outline: none;
}

.about {
  position: relative;
  overflow: hidden;
  z-index: 10;
  height: 100vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about-bar {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.about .about-title {
  font-size: 3rem;
  max-width: 550px;
  font-family: Kalam, sans-serif;
  padding-left: 30px;
}

.about .about-text {
  font-size: 1.2em;
  font-weight: 500;
  min-width: 300px;
  text-align: left;
  white-space: pre-line;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolio .portfolio-title {
  text-align: left;
  margin: 50px 0 50px 200px;
  font-weight: 700;
  font-size: 4.375rem;
}

.portfolio .portfolio-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-part .description {
  width: 20%;
  text-align: center;
  font-family: Kalam, sans-serif;
  font-size: 1.6em;
}

.portfolio .portfolio-part .photos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.portfolio .portfolio-part .photos .photo {
  z-index: 10;
  cursor: pointer;
  margin: 30px;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
}

.portfolio .portfolio-part .photos .photo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio .generate .photos .photo,
.portfolio .deep-dream .photos .photo {
  width: calc(50% - 35px);
}

.portfolio .style-transfer {
  flex-direction: column;
}

.portfolio .style-transfer .description {
  margin-left: 30%;
}

.portfolio .style-transfer .style-transfer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .portfolio .deep-dream .description {
    margin-top: -35%;
  }

  .portfolio .deep-dream .photos {
    flex-direction: column;
  }

  .portfolio .deep-dream .photos .photo {
    width: 60%;
    margin: 10px;
  }

  .portfolio .deep-dream .photos .first {
    margin-left: 15%;
  }

  .portfolio .deep-dream .photos .second {
    margin-right: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .portfolio .portfolio-title {
    font-size: 2rem;
    margin: 20px 0 20px 50px;
  }

  .portfolio .portfolio-part {
    flex-direction: column;
  }

  .portfolio .portfolio-part .description {
    margin: 0;
  }

  .portfolio .style-transfer .photos img {
    width: 60%;
  }

  .portfolio .photos {
    flex-direction: column;
  }

  .portfolio .generate .photos .photo,
  .portfolio .deep-dream .photos .photo {
    width: 80%;
  }
}

.try {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.try .try-styles-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: -36px 0 0 0;
}

.try .try-styles-menu .try-styles-menu-item {
  transition: 0.3s;
  align-self: center;
  cursor: pointer;
  width: 120px;
  height: 36px;
  text-align: center;
}

.try .try-styles-menu .active {
  box-shadow: inset 0px -15px 10px -5px #ddd;
  border-radius: 2px;
}

.try .try-title {
  width: 100%;
  text-align: left;
  margin: 50px 0 70px 0;
  font-weight: 700;
  font-size: 4.375rem;
}

.try .try-part .photo {
  cursor: pointer;
  max-width: 225px;
  transition: 0.2s;
}

.try .try-part .photo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.try .try-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.try .try-content .try-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 10%;
  min-width: 120px;
}

.try .try-content .try-menu .try-menu-item {
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 120px;
  margin: 12px 0;
  height: 40px;
  padding-left: 3px;
}

.try .try-content .try-menu .active {
  box-shadow: inset -15px 0px 10px -5px #ddd;
  border-radius: 2px;
}

.try .try-styles {
  width: 90%;
  min-height: 520px;
  display: flex;
  flex-direction: column;
}

.try .try-styles .grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  width: 100%;
  min-height: 500px;
}

.try .try-styles .try-part {
  margin-top: 15px;
  display: none;
}

.try .try-styles .visible {
  display: grid;
}

.try .try-styles .photo {
  margin: 10px;
  max-width: 225px;
}

.try .hidden {
  display: none !important;
}

@media only screen and (max-width: 900px) {
  .try .try-title {
    margin: 25px 0 30px 0;
    font-weight: 500;
    font-size: 2.375rem;
  }

  .try .try-content {
    flex-direction: column;
  }

  .try .try-content .try-menu {
    flex-direction: row;
    justify-content: space-around;
    min-width: 360px;
    width: inherit;
    margin: 10px 0;
    text-align: center;
  }

  .try .try-content .try-menu .try-menu-item {
    max-width: 100px;
    justify-content: center;
  }

  .try .try-content .try-menu .active {
    box-shadow: inset 0px -15px 10px -5px #ddd;
    border-radius: 2px;
  }

  .try .try-content .try-styles {
    width: 100%;
  }

  .try .try-content .try-styles .try-styles-menu {
    margin: 10px 0;
  }

  .try .try-content .try-styles .try-part .grid {
    grid-template-columns: 1fr;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

.modal .modal-window {
  display: none;
  position: fixed;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  z-index: 200;
}

.modal .modal-photo {
  max-width: 90vw;
  max-height: 80vh;
}

.email {
  margin: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.email .mission {
  max-width: 630px;
  white-space: pre-line;
  font-family: "Open Sans", "Montserrat", sans-serif;
  font-size: 20px;
}

.email .mission .mission-title {
  margin: 0 0 0 5%;
  font-size: 45px;
}

.email .subscribe {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email .subscribe .email-title {
  font-size: 22px;
  font-weight: 500;
}

.email .subscribe .input {
  margin: 16px 0;
  height: 32px;
  font-size: 18px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #636b6f;
  outline: none;
}

.email .subscribe .save-mail {
  transition: 0.2s;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 35px;
  color: #ffffff;
  background-color: #9555af;
}

.email .subscribe .save-mail:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.email .subscribe .save-mail:hover {
  color: #9050aa;
  border-color: currentColor;
  background-color: white;
}

.email .subscribe .save-mail::-moz-focus-inner {
  border: none;
}

.email .subscribe .save-mail:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5), 0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.email .subscribe .save-mail:focus:not(.focus-visible) {
  box-shadow: none;
}

html {
  min-width: 375px;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 92%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 96%;
  }
}

