.try {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .try-styles-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: -36px 0 0 0;

    .try-styles-menu-item {
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      align-self: center;
      cursor: pointer;
      width: 120px;
      height: 36px;
      text-align: center;
    }

    .active {
      box-shadow: inset 0px -15px 10px -5px #ddd;
      border-radius: 2px;
    }
  }

  .try-title {
    width: 100%;
    text-align: left;
    margin: 50px 0 70px 0;
    font-weight: 700;
    font-size: 4.375rem;
  }

  .try-part .photo {
    cursor: pointer;
    max-width: 225px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
  
  .try-part .photo:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .try-content {
    width: 100%;
    display: flex;
    justify-content: center;

    .try-menu {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 10%;
      min-width: 120px;

      .try-menu-item {
        cursor: pointer;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 120px;
        margin: 12px 0;
        height: 40px;
        padding-left: 3px;
      }

      .active {
        box-shadow: inset -15px 0px 10px -5px #ddd;
        border-radius: 2px;
      }
    }
  }

  .try-styles {
    width: 90%;
    min-height: 520px;
    display: flex;
    flex-direction: column;

    .grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-content: center;
      width: 100%;
      min-height: 500px;
    }

    .try-part {
      margin-top: 15px;
      display: none;
    }

    .visible {
      display: grid;
    }

    .photo {
      margin: 10px;
      max-width: 225px;
    }
  }
  
  .hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .try {
    .try-title {
      margin: 25px 0 30px 0;
      font-weight: 500;
      font-size: 2.375rem;
    }

    .try-content {
      flex-direction: column;

      .try-menu {
        flex-direction: row;
        justify-content: space-around;
        min-width: 360px;
        width: inherit;
        margin: 10px 0;
        text-align: center;

        .try-menu-item {
          max-width: 100px;
          justify-content: center;
        }

        .active {
          box-shadow: inset 0px -15px 10px -5px #ddd;
          border-radius: 2px;
        }
      }

      .try-styles {
        width: 100%;

        .try-styles-menu {
          margin: 10px 0;
        }

        .try-part {
          .grid {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
