.about {
  position: relative;
  overflow: hidden;
  z-index: 10;
  height: 100vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .about-bar {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }

  .about-title {
    font-size: 3rem;
    max-width: 550px;
    font-family: Kalam, sans-serif;
    padding-left: 30px;
  }

  .about-text {
    font-size: 1.2em;
    font-weight: 500;
    min-width: 300px;
    text-align: left;
    white-space: pre-line;
  }
}